/*.crud-main {
    width: 80%;
    height: 90%;
    /* max-width: 1440px; */
    /* margin: 0 auto;
    
    background-color: #FFEEE1;
    border-radius: 20px;
    overflow-y: scroll;
    
}

.titulo-registro {
    text-align: center;
    margin-top: 20px;
}

.seccion-de-filtros {
    margin-top: 50px;
    width: 100%;

}

.flltrar-tag {
    margin-left: 2.5%;
}

.filtros {
    width: 90%;
    margin: 0 auto;
}

.lista-de-cuadres {
   width: 100%;
   border: 1px red solid;
   padding: 25px;
}

.tabla-de-cuadres {
    margin: 40px auto;
    border: blue 1px solid;
    padding: 10px;
    width: 100%;
    table-layout: auto;
} */