.login-cont {
    background-image: linear-gradient(40deg, rgba(255,109,0,0.20) 0%, rgba(0,115,50,0.20) 100%),
    url('./imagenes/Cola_Metrogas.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-login-part {
    position: relative;
}

.top-logo {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 220px;
}

.top-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
}

.logo-cortado {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
}

.login-inner {
    height: 60%;
    width: 25%;
    min-height: 410px;
    min-width: 360px;
    background-color: #FFF8E7;
    border-radius: 35px;
    position: relative;
}

.login-img {
    width: 100%;
    z-index: 100;
}

.login-form {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.login-input, .login-btn {
    border-radius: 50px;
    width: 80%;
    height: 40px;
    margin: 10px 0 10px 0;
    /* padding-left: 20px; */
}

.login-input {
    border: #007332 2px solid;
    background-color: transparent;
    padding-left: 10px;
}

.login-input::placeholder {
    color: #5ba273;
    padding-left: 32px;
}

.login-btn {
    color: white;
    border: none;
    font-size: 20px;
    background: rgb(255,109,0);
    background: linear-gradient(180deg, rgba(255,109,0,1) 70%, rgba(255,208,173,1) 100%);
    transition: all 0.2s ease-in;
}

.login-btn:hover {
    box-shadow: 0px 0px 18px 10px rgba(255,255,255,0.77);
    -webkit-box-shadow: 0px 0px 18px 10px rgba(255,255,255,0.77);
    -moz-box-shadow: 0px 0px 18px 10px rgba(255,255,255,0.77);
    border: white 2px solid;
}

.registration-link {
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    bottom: 40px;
    right: 10%;
    color: #5ba273;
}

.registration-link:hover {
    color: #5ba273;
}

.fa-usetr {
    position: absolute;
}

.div-in {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.fa-usetr {
    position: absolute;
    left: 14%;
    top: 19px
}